/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
.container{
    width: 70%;
    margin: 0 auto;
}

/* Header */
header{
    background-color: #2e3a46 ;
    padding: 5px 20px;
    
}

.logo img{
    width: 50px;
}

/* Main */
main{
    background-color: #1e2d3b;
    padding-top: 50px;

}

.discs{
    display: flex;
    flex-wrap: wrap;
}

/* Card */
.card{
    width: calc((100% / 3) - 20px );
    margin: 10px;
    text-align: center;
    background-color: #2e3a46;
    padding: 20px;
}

.card img{
    width: 100%;
    display: block;
}

.card h2{
    color: white;
    margin-top: 10px;
    margin-bottom: 20px; 
}

.card div{
    color: gray;
}
